/* 
Two main colors are: 
	dark blue: #336699
	light blue: #00ccff
*/

html,body {
  height:100%;
}

body {
  padding-top: 50px;
  padding-bottom: 100px;
}

h1 {
  font-family: Arial,sans-serif
  font-size:80px;
  color:#DDCCEE;
}

.lead {
  color:#DDCCEE;
}

.input-group {
	width:340px;text-align:center;margin:0 auto;
}

/* Custom container */
.container-full {
  margin: 0 auto;
  width: 100%;
  /*min-height:100%;*/
  background-color:#336699;
  color:#eee;
  overflow:hidden;
}

.container-full a {
  color:#efefef;
  text-decoration:none;
}

.v-center {
  margin-top:7%;
}
  
.navbar-inverse .navbar-toggle {
	background-color: #336699;
}

.navbar-inverse .navbar-toggle:hover {
	background-color: #00ccff;
}

.navbar-inverse .navbar-toggle:visited, .navbar-inverse .navbar-toggle:focus {
	background-color: #336699;
}

.container>.navbar-header, 
.container-fluid>.navbar-header, 
.container>.navbar-collapse, 
.container-fluid>.navbar-collapse {
	background-color: #FFF;
}

.navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:hover, 
.navbar-inverse .navbar-nav>.active>a:focus {
	background-color: #336699;
}

.navbar-inverse .navbar-nav>li>a:hover, 
.navbar-inverse .navbar-nav>li>a:focus {
	background-color: #336699;
}

.logout {
	font-size: .75em;
}

.profile-pic {
	width: 75px;
	height: 75px;
	float: left;
	border-radius: 0.25em;
	margin-left: .5em;
	border: solid #000 .1em;
}

.member-facts {
	text-align: right;
	margin-right: 0.5em;
}

.contact-info {
	text-align: left;
	margin-left: .5em;
}

review-section-header {
	margin-top: -10px;
}

.social-media-roundup {
	background-color: #336699;
	text-align: center;
	height: 100px;
	position: fixed;
	bottom: -30px;
	z-index: 1000;
	width: 100%;
}

.social-media-roundup p {
	font-weight: bolder;
	z-index: inherit;
	color: #FFF;
	margin-bottom: -10px;
}

#socialbar img {
	border:0px;
	z-index: inherit;
}

#socialbar li img {
	width:48px; 
	height:48px;
	z-index: inherit;
}

#socialbar li a:hover {
	position:relative;
	top:2px;
	z-index: inherit;
}

#socialbar {
	list-style: none outside none; 
	margin:0px; 
	position: static;
	z-index: inherit;
}

#socialbar li {
	display:inline;
	padding-right:2px;
	z-index: inherit;
}

#socialbar{
	padding:10px;
	text-align:center;
	z-index: inherit;
}

.avg-rating {
	display: inline-block;
}

.tag-box {
	text-align: center;
}

.review-tags {
	background-color: #00ccff;
}

form {
	margin-left: 1em;
}

textarea {
	height: 5em;
	width: 80%;
}

/*

/* Makes images fully responsive */

/*.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100%;
  height: auto;
}*/

/* ------------------- Carousel Styling ------------------- */

/*.carousel-inner {
  border-radius: 15px;
}

.carousel-caption {
  background-color: rgba(0,0,0,.5);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding: 0 0 10px 25px;
  color: #fff;
  text-align: left;
}

.carousel-indicators {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 15;
  margin: 0;
  padding: 0 25px 25px 0;
  text-align: right;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}
*/

/* ------------------- Section Styling - Not needed for carousel styling ------------------- */

/*.section-white {
   padding: 10px 0;
}

.section-white {
  background-color: #fff;
  color: #555;
}

@media screen and (min-width: 768px) {

  .section-white {
     padding: 1.5em 0;
  }

}

@media screen and (min-width: 992px) {

  .container {
    max-width: 930px;
  }

}*/
*/